.finalizar-btn {
  width: 80vw;
  --background: black;
  border-radius: 1rem; 
  border: 2px solid #FFB91B;
  justify-content: space-between;
  --border-radius: 1rem;
}

.finalizar-btn h4 {
  color: #fff;
}

div#sacola-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem;
  width: 100%;
}

.confirmar-pedido-btn {
  height: 3rem;
  --background: #FFB91B;
  --border-radius: 0 0 0.6rem 0.6rem;
}

.produto-card {
 height: auto;
}

.sacola-sticky {
  position: sticky;
  top: 16px;
  z-index: 10;
}

.filtro-sticky {
  position: sticky;
  top: 2rem;
  z-index: 10;
}

.ion-align-self-stretch {
  height: auto;
}

ion-col[size-lg='6'] {
  display: flex;
  flex-direction: column;
}

ion-card.produto-card {
  width: 100%;
}

.filter-scroll-lg {
  display: flex;
  overflow-x: scroll;
  padding: 0.5rem;
  justify-content: flex-start;
  margin-left: 2rem;
  background-color: green;
  top: 0;
}

.filter-scroll-sm {
  display: flex;
  overflow-x: scroll;
  padding: 0.5rem;
  justify-content: flex-start;
  background-color: green;
}

.inner-scroll {

  padding-top: 0rem;

}